body,
.container {
  direction: rtl;
}

.star-rating .fa-star {
  cursor: pointer;
  color: #d3d3d3;
}

.star-rating .fa-star.selected {
  color: gold;
}

.top-navbar {
  background-color: #37426c;
  color: white;
}

.top-navbar .social-icons a {
  color: white;
  margin-right: 15px;
  /* Adjust for RTL */
  font-size: 20px;
}

.secondary-navbar {
  background-color: white;
  border-top: 1px solid #e0e0e0;
}

.secondary-navbar .nav-link {
  position: relative;
  color: black;
  font-weight: 500;
  text-align: right;
  /* Align links properly in RTL */
}

.secondary-navbar .nav-link:hover::after,
.secondary-navbar .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  /* Adjust for RTL */
  width: 100%;
  height: 2px;
  background-color: #37426c;
}

.secondary-navbar .nav-link:hover {
  color: #37426c;
}

.site-logo img {
  height: 90px;
}

.site-logo-info {
  text-align: right;
}
 