

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

body {
    background: url("../Images/login.png") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-index: -1;
}

.form-control:focus {
    border-color: #e28743;
    box-shadow: 0 0 0 0.2rem rgba(226, 135, 67, 0.25);
}

.card {
    background-color: #eae6ee;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    min-width: 300px;
    margin: auto;
}

.form-label {
    color: #000000;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.tooltip-inner {
    background-color: #007bff;
    color: #fff;
}

.invalid-feedback {
    color: #ed6d0b;
}